.navbar-dark {
  background-color: #2c3e50;
}
.navbar-collapse {
  flex-grow: 0;
}

.presentation-green,
.about {
  background-color: #1abc9c;
}

.avatar {
  width: 200px;
  height: 200px;
}

.line {
  border-top: 3px solid white;
  width: 20%;
}

.line-black {
  border-top: 3px solid black;
  width: 20%;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1 px solid black;
}

.btn-light {
  background-color: #1abc9c;
}

.location {
  background-color: #3a546d;
}

.social {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #2c3e50;
}
